body {
  margin: 0;
}

.container {
  margin: 0 auto;
  text-align: center;
}

.box {
  margin-top: 10px;
}

.loginDialog {
  margin: 0 auto;
}

.loginDialog h3 {
  font-style: Trebuchet Ms;
}

.loginDialog p {
  font-size: 1em;
  font-family: sans-serif;
}

.trial {
  border: 2px solid blue;
}

.loginbtn {
  width: 100%;
  margin: 5px 0 10px 0;
}

.signupbtn {
  width: 100%;
  margin-top: 10px;
  margin: 5px 0 10px 0;
}

.forgotpswd {
  color: #732983;
}
.mastheadtitle {
  color: #2196F3;
  text-shadow: 0.1em 0.1em 0.1em #234CA7;
  text-transform: uppercase;
  text-justify: inter-word;
  font-size: 10em;
  margin: 0;
}
.masthead {
  color: #2196F3;
  text-shadow: 1px 2px #234CA7;
  font-size: 4em;
  font-family: inherit;;
  text-justify: inter-word;
  font-weight: lighter;
  margin: 0;
}
