body {
  margin: 0;
  background-color: #F5F5F5;
}
* {
 font-family: 'Inconsolata';
}
p h1 h2 h3 h4 h5 {
  font-family: 'Inconsolata', inherit;;
}
a {
  color: inherit;
  text-decoration: none;
}
.container {
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}
.box {
  margin-top: 10px;
}
.loginDialog {
  margin: 0 auto;
}
.loginDialog h3 {
  font-style: Trebuchet Ms;
}
.loginDialog p {
  font-size: 1em;
  font-family: sans-serif;
}
.trial {
  border: 2px solid blue;
}
.loginbtn {
  width: 100%;
  margin: 5px 0 10px 0;
}
.signupbtn {
  width: 100%;
  margin-top: 10px;
  margin: 5px 0 10px 0;
}
.forgotpswd {
  color: #732983;
}
.mastheadtitle {
  color: #2196F3;

  text-transform: uppercase;
  text-justify: inter-word;
  font-size: 10em;
  font-family: 'Dancing Script', cursive;
  margin: 0 auto;
}
.masthead {
  color: #2196F3;
  text-shadow: 1px 2px #C5CDDE;
  font-size: 4em;
  font-family: inherit;
  text-justify: inter-word;
  font-weight: lighter;
  margin: 0;
}
.docTitle {
  margin: 0 auto;
  text-align: center;
  /*padding: 2px 10px;*/
  /*font-weight: lighter;*/
  /*font-size: 3em;*/
  /*padding-left: 40px;*/
}
.content {
  margin-top: 20px;
  text-align: center;
  justify: center;
  text-justify: inter-word;
  font-weight: lighter;
  padding: 10px;
  font-family: inherit;
  font-size: 100%;
  vertical-align: super;
}
.docTitleField {
  margin: 10px 5px 0 0;
  border: 0.3px solid #0f0;
}
.content {
  background-color: #F5F5F5;
  width: 90%;
}
.editor {
  background-color: #FFF;
  border: 3px solid #FFF;
  border-radius: 5px;
  padding: 5px;
  padding-right: 30px;
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}
.spacer {
  height: 40px;
}
.navbar {
  background-color: #2196F3;
}
.doc-content p {
  text-align: justify;
  font-size: 1.2em;
  font-family: inherit;
  line-height: 1.8em;
  padding: 10px 50px
}
.shareMsg {
  text-align: center;
  font-size: 1.6em;
  font-family: inherit;
  padding: 30px 10px 10px 10px;
  color: #2196F3;
}

.socialButtons {
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 20px;
}
.actionButtons {
 float: right;
}
.subTitle {
  text-align: left;
  padding-left: 40px;
}
div.category h5 {
  text-transform: uppercase;
  display: inline-block;
  border: 2px solid #888;
  padding: 5px;
  border-radius: 5px;
  color: #333;
}
div.docAuthor {

}
.cardTitle {
  text-align: left;
}
.cardText {
  text-align: center;
  line-height: 10px;
  font-size: 1em;
}
.cardText a {
  text-align: center;
}

.access-level {
  padding-top: 20px;
}

.category-list {
  padding-left: 20px;
}

.add-button {

}

.popover {
  background-color: transparent;
  padding-right: 20px;
  float:left;
}

.popover-list {
  list-style-type: none;
  background-color: transparent;
}

.popover-button {
  background-color: transparent;
  /*padding: 20px;*/
}
.title {
  padding-left: 40px;
  text-align: center;
}
.username {
  line-height: 1.5;
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 30px;
  padding-left: 10px;
  font-size: 1.2em;
}

.info {
  line-height: 1.5;
  vertical-align: middle;
  display: inline-block;
  margin-top: 10px;
  font-size: 1.2em;
}

a:hover {
  color: #4082EC;
}
