{
  "presets": ["es2015", "stage-0", "react"],
  "plugins": ["transform-es2015-arrow-functions", "check-es2015-constants",
    "transform-es2015-block-scoping", "syntax-flow", "transform-react-jsx", "syntax-jsx"]
}
